.task-input{
    color: #262626;
    padding: 1.2rem;
    
}
::placeholder{
    color: #26262600;

}
.btn-add {
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border: 0.8px solid rgba(248, 248, 255, 0.445);
}

.tasks-container button {
    min-width: 14%;
}